<h1>My list of restaurants</h1>
<br>
<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <p><%= restaurant.address %></p>
  <br>
<% end %>
<br>
<br>
<br>
<br>
